h2
{
	color:#369 ; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
}

h3
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif	
}

p
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
}

em
{
	color:#F00; font-size:small
}

.bottom
{
	margin:20px
}

#wrapper
{
	margin-left:auto; margin-right:auto; width: 1028px; text-align: left;
}

#bar
{
   position:fixed;
   left:0px;
   top:77px;
   height:470px;
   width:100%;
   background:#000
}

#footer
{
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#FFF;  
}

a
{
	color: #999;
	text-decoration:none;
}
	