@charset "UTF-8";
/* CSS Document */


/* TypeKit Fonts */
body,
input[type="text"],
input[type="email"],
textarea,
#footer
	{font-family: "droid-sans", Helvetica, Arial, sans-serif !important; font-weight: 400; font-size: 1.1em; color: black;}

h1, h2, h3, h4, h5, h6,
#mainNav ul a,
#content .project.small .title span,
#filterNav li a,
#footer a.button,
a.button,
input[type="submit"]
	{font-family: "museo-sans", Helvetica, Arial, sans-serif !important; font-weight: 900;}

/* Typography */
h1, h2, h3, h4, h5, h6 {color: black !important;}
h1, h2, h3, #mainNav ul a {text-transform: uppercase;}
h2, h3, #mainNav ul a {letter-spacing: 2px;}
h2 {font-size: 15px !important;}
p {line-height: 1.6;}
#mainNav {right: 20px;}
#mainNav ul a {font-size: 15px;}
#content p {font-size: 14px;}

/* General */
#content.full, #header #logo, #footer .main {margin-left: 2.5% !important; margin-right: 2.5% !important;}
#content.full {margin-bottom: 40px; width: 95% !important;}
#header .inside {padding: 42px 0;}
#header .inside, #main, #footer .inside {max-width: 989px;}
#main {margin-bottom: 0;}
#pageHead {margin-bottom: 0; border-bottom: none; padding: .8em 0;}
#pageHead h1 {display: none;}

/* Header */
#header #logo a {background: url(images/logo@1x-black.png) no-repeat; width: 360px; height: 16px; display: block;}
#header #logo a:hover {background-image: url(images/logo@1x-grey.png);}
#header #logo a span {position: absolute; left: -9999px;}

/* Homepage */
#homeBannerStatic {height: auto; padding: 40px 2.5%; background: #e7e7e7 url(images/bg-light.png); text-align: center !important;}
#homeBannerStatic img {margin: auto; max-width: 100%;}
#content .page.small, #content .project.small {width: 31.3%; margin: 0 1% 3% 1%; padding: 0; background: none;}
#content .page.small img {margin: 0 auto;}
#content .page.small p {font-size: 14px;}
#content .page.small h2 {margin-bottom: .5em; font-size: 15px;}
#featuredPages {margin-bottom: 1.5em !important; padding-bottom: 1.8em; border-bottom: 1px solid #ccc;}
.homeSection h3 {background: none; font-size: 19px; letter-spacing: 6px; margin-top: .5em;}

/* Portfolio */
#projects .thumbs {margin: 0 -1.5%; width: 105%;}
#content .project.small.inactive {display: none;}
#content .project.small .title span {color: black; text-transform: uppercase; letter-spacing: 2px; background: none !important; padding: 0 !important;}
.single-project #commentBox {display: none;}
.single-project #content img {margin: auto;}
.single-project #pageHead h1 {display: block; font-size: 16px; letter-spacing: 2px; line-height: normal;}

/* Backgrounds */
h3 span, #featuredPages .thumbs div, #projects .thumbs div {background: none !important;}
.wrap, #header {background: #fff url(images/bg-white.png) !important;}
html, #footer {background: #000 url(images/bg-black.png) !important;}

/* Footer */
#footer {color: white;}
#footer h2 {color: white !important;}
#footer p {font-size: 14px;}
#footer a {color: white;}
#footer a:hover {color: #999;}
#footer .main {margin: 0 20px; padding: 35px 0 0 0;}
#footer .socialLinks li {margin: 0; padding: .5em 0; border-top: 1px solid #333;}
#footer .socialLinks li a {background: url(images/icons-social-white@1x.png) no-repeat; display: block; height: 50px; line-height: 50px; padding-left: 80px;}
#footer .socialLinks li a:hover {background: url(images/icons-social-grey@1x.png) no-repeat;}
#footer .socialLinks li.fb a {background-position: 0 0;}
#footer .socialLinks li.ln a {background-position: 0 -50px;}
#footer .socialLinks li.et a {background-position: 0 -100px;}
#footer .socialLinks li.em a {background-position: 0 -150px;}
#footer .socialLinks li.cs a {background: none; padding-left: 0;}
.one_third {width: 31%;}

/* Buttons */
.skillList {display: none;}
#filterNav li a {
	background: #a6a6a6 url(images/bg-dark.png) !important;
	color: white !important;
	padding:  16px 30px !important;
	letter-spacing: 2px;
	min-width: 80px;
	text-align: center;
	line-height: 0;
	white-space: nowrap;
}
#filterNav li a.selected, 
filterNav li a:hover {
	background: #000 url(images/bg-black.png) !important;
}
a.button,
#footer a.button,
.wpcf7-submit,
input[type="submit"] {
	width: 95%;
	margin: 0 !important;
	padding: 2.2% 2.5% !important;
	letter-spacing: 2px;
	font-size: 15px;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #999 url(images/bg-dark.png) !important;
}
input[type="submit"] {
	width: 100% !important;
}
a.button:hover,
input[type="submit"]:hover {
	background: #000 url(images/bg-black.png) !important;
}

/* Back Button*/
.single-project a.button {display: inline-block !important; width: 30%; margin: 0 35% !important;}
#adminbarsearch .adminbar-button {display: none !important;}

/* Form Inputs */
input[type="text"], input[type="email"], textarea {
	width: 97%;
	padding: 1.5%;
	color: #6a6a6a;	
	border: 1px solid #ddd;
	font-size: 15px;
	background-color: #fafafa;
	background-image: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
input[type="text"]:focus, input[type="email"]:focus {outline: none; background-color: #fff;}
textarea:focus {outline: none; background-color: #fff;}
textarea {width: 97%; font-size: 13px; padding: 1.5%; font-size: 15px;}

/* Contact Form Messages */
div.wpcf7-response-output {
	margin: 1em 0 !important;
	padding: 1.5em !important;
	border: 1px solid #ccc !important;
	background: #f5f5f5;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
}

/*layouts smaller than 600px, iPhone and mobiles*/
@media only screen and (max-width: 768px)  {
	#mainNav {
		position: relative;			
		padding-top: 15px;
		top: 0;
		right: 0;	
		width: 95%;
		margin: 0 2.5%;		
		text-align: center;				
		height: auto;
	}	
	#mainNav li {margin: 0 20px 0 0;}
}

@media only screen and (max-width: 650px)  {
	#header .inside {padding: 1em 0;}
	#header #logo a {width: 248px; height: 11px; background-size: 248px 11px; background-position: center;}
	#homeBannerStatic {padding: 5% 2.5%;}
	#content .page.small, #content .project.small {width: 100%; margin: 0 0 1em 0 !important; padding: 0; background: none;}
	#content .project.small img {margin: 0 auto;}
	#projects .thumbs {margin: 0; width: 100%;}
	#footer .one_third {width: 100%; margin: 0 0 3em 0; border-bottom: 1px solid #333;}
	#footer .secondary {border: none;}
	.homeSection h3 {margin: 0 0 1em 0; width: 100%;}
}




